.h5p-button-groups{
    margin-top: 1rem;
    button{
        margin-right: 5px;
        padding: .7rem;
        border: none;
        box-shadow: none;
        border: 1px solid #000;
        cursor: pointer;
        &.active{
            background-color: #2271b1;
            color: #fff;
        }
    }
}