.h5p-button-groups{
    margin-top: 1rem;
    button{
        margin-right: 5px;
        padding: .7rem;
        border: none;
        box-shadow: none;
        border: 1px solid #000;
        cursor: pointer;
        &.active{
            background-color: #2271b1;
            color: #fff;
        }
    }
}

#h5p-filters{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 1fr 1fr;
    margin-top: 20px;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

#h5p-contents{
    table{
        table-layout: auto;
        th[role=button]{
            cursor: pointer;
            color: #1572b7;
        }
        td, th{
            padding: 10px 20px;
            box-sizing: border-box;
        }
        th{
            &.faculty-tab{
                width: 300px;

                @media only screen and (min-width: 1280px) {
                    width: 500px;
                }
            }

            &.tag-tab{
                width: 200px;

                @media only screen and (min-width: 1280px) {
                    width: 300px;
                }
            }
        }
    }
}