input[id^=react-select-]{
    box-shadow: none !important;
    min-height: 0 !important;
}

#h5p-taxonomy{
    margin-top: 20px;
    max-width: 960px;

    .taxonomy.postbox{
        padding: 15px;

        > h2{
            margin-top: 0;
        }
    }
}