.h5p-button-groups{
    margin-top: 1rem;
    button{
        margin-right: 5px;
        padding: .7rem;
        border: none;
        box-shadow: none;
        border: 1px solid #000;
        cursor: pointer;
        &.active{
            background-color: #2271b1;
            color: #fff;
        }
    }
}

#h5p-filters{
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;

    >input:first-child{
        grid-area: search;
    }

    >div:nth-child(2){
        grid-area: faculty;
    }

    >div:nth-child(3) {
        grid-area: discipline;
    }

    >div:nth-child(4){
        grid-area: tags;
    }

    >div:last-child{
        grid-area: more-filters;
    }

    grid-template-areas: 
    "search faculty faculty discipline discipline"
    "tags tags tags tags tags"
    "more-filters more-filters more-filters more-filters more-filters";

    @media only screen and (max-width: 600px) {
        grid-template-areas: 
        "search"
        "faculty"
        "discipline"
        "tags"
        "more-filters";
    }
}

#h5p-contents{
    table{
        table-layout: auto;
        th[role=button]{
            cursor: pointer;
            color: #1572b7;
        }
        td, th{
            padding: 10px 20px;
            box-sizing: border-box;
        }
        th{
            &.faculty-tab{
                width: 300px;

                @media only screen and (min-width: 1280px) {
                    width: 500px;
                }
            }

            &.tag-tab{
                width: 200px;

                @media only screen and (min-width: 1280px) {
                    width: 300px;
                }
            }
        }
    }
}